body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: rgb(241, 226, 228);
}
h1 {
  color: rgb(75, 9, 255);
}
img {
  width: 175px;
  height: 125px;
}
main {
  background-color: rgb(78, 9, 255);
  color: white;
  width: 800px;
  margin: auto;
  text-align: left;
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}
.yellow {
  color: orange;
  border-left: 3px solid yellow;
  padding-left: 7px;
}
p {
  margin-top: -5px;
}
span {
  background-color: bisque;
  padding: 5px;
  color: rgb(78, 9, 255);
  border-radius: 5px;
}
ul,
ol {
  list-style-type: none;
}
footer {
  margin-top: 35px;
  margin-bottom: 55px;
}
a {
  color: black;
  background-color: rgb(248, 224, 7);
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
}
#copyright {
  margin-top: 35px;
}
